@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
html, body{
    height: auto;
    width: 100%;
    font-size: 18px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
/* Typography */
h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}
p{
    font-size: 18px;
    line-height: 1.6;
}
/* 
##############################
    Header section styling
##############################
*/
header{
    width: 100%;
    background-image: url('../images/header-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.nav-container{
    grid-column: 2/ -2;
    grid-template-columns: repeat(12, 1fr);
}
nav{
    float: right;
    display: flex;
    grid-column: 1/ 3;
}
.logo{
    color: white;
    text-decoration:none;
    font-weight: 700;
    font-size: 2.6rem;
    grid-column: 1/ 4;
    font-family: 'Oleo Script', cursive;
    background: -webkit-linear-gradient(#C6E5B3, #662113);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
nav li{
    list-style: none;
    padding:1.3rem 0rem 1.3rem 2rem;
    float: right;
}
li a:hover{
    color: #662113;  
}
nav li a{
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight:700;
}

.profile{
    grid-column: 3/ 6;
    padding: 3rem 3rem 3rem 0rem;
}
.profile img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.hook{
    text-align: right;
    grid-column: 6/ -3;
    color: #662113;
    padding: 3rem 0rem 3rem 0rem;
    font-weight: 400;
    line-height: 1.6;
}

/* 
################################
    About me section styling
################################
*/

.about-me{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px 0px 30px 0px;
}
.about-me h1{
    grid-column: 3/ -3;
}
.about-me p{
    grid-column: 3/ -3;
}

/* 
################################
    Projects section styling
################################
*/
.projects{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px 0px 30px 0px;
}
.projects h1{
    grid-column: 3/ -3;
}
.projects div{
    grid-column: 3/ -3;
}
.project-container{
    width: 100%;
    margin:10px auto;
}
.project-carousel{
    height: 400px;
    position: relative;
    overflow: hidden;
}
.project-slider{
    height: 100%;
    display: flex;
    width:400%;
    transition: all 0.3s;
}
.project-slider section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-slider section div{
    width: 40%;
}
.project-slider section div span{
    color: #3E721D;
}
.project-controls .project-arrow{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.project-controls .project-arrow i{
    font-size: 60px;
    color: black;
}
.project-arrow.project-left{
    left: 10px;
}
.project-arrow.project-right{
    right: 10px;
}

/* 
################################
    Testmonial section styling
################################
*/
.testimonial{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px 0px 30px 0px;
    background-image: url('../images/testimonial-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ffffff;
}
.testimonial h1{
    grid-column: 3/ -3;
}
.testimonial div{
    grid-column: 3/ -3;
}
#testimonial-profile{
    border-radius: 50%;
    height: 100px;
    width: 105px;
}
#testimony-content{
    width: 50%;
    text-align: center;
}
#testifier{
    width: 100%;
}
.container{
    width: 100%;
    margin:10px auto;
}
.carousel{
    height: 400px;
    position: relative;
    overflow: hidden;
}
.slider{
    height: 100%;
    display: flex;
    width:400%;
    transition: all 0.3s;
}
.slider section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls .arrow{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.controls .arrow i{
    font-size: 60px;
    color: #ffffff;
}
.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px;
}



.skills{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px 0px 30px 0px;
}
.skills h1{
    grid-column: 3/ -3;
}
.skills div{
    grid-column: 3/ -3;
    display: flex;
    justify-content: space-between;
}
.skills div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}




.certificates{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px 0px 30px 0px;
}
.certificates h1{
    grid-column: 3/ -3;
}
.certificates div{
    grid-column: 3/ -3;
    display: flex;
    justify-content: space-between;
}
.certificates div img{
    width: 400px;
    height: 300px;
}



.contact-me{
    background-image: url('../images/contact-me-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 0px 70px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: #ffffff;

}
.contact-me h1{
    grid-column: 3/ -3;
}

.contact-me .form{
    grid-column: 3/ 8;
    font-size: 24px;
}
.contact-me .form input{
    width: 90%;
    height: 50px;
    margin: 10px 0px 10px 0px;

}
.contact-me .form textarea{
    height: 200px;
    width: 90%;
    margin: 10px 0px 10px 0px;
}
.send-button{
    color: #ffffff;
    background-color: #3E721D;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    border: 2px solid #ffffff;
    float: right;
    margin:20px 70px 0px 0px;
}
.contact-me .address{
    grid-column: 8/ -3;
    border-right: 2px solid #ffffff;
    text-align: right;
    padding-right: 20px;
}
.contact-me .address ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.contact-me .address ul li{
   
    list-style: none;
}
#social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.subscribe{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom:50px ;
    padding-top: 50px;
}
.subscribe h1{
    grid-column: 3/ -3;
}
.subscribe form{
    grid-column: 3/ -3;
    display: flex;
    justify-content: space-between;
}
.subscribe form input{
    height: 50px;
    width: 45%;
    border-radius: 10px;
    border: 1px solid #3E721D;
}
.subscribe form button{
    height: 50px;
    width: 30%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #3E721D;
    border: 1px solid #3E721D;
}
footer{
    background-color: #C6E5B3;
    text-align: center;
    padding: 2px;
}















