@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* 
0##############################
     IPAD Pro TARGET 
##############################
*/

@media screen and (max-width: 1024px){
    /* 
    ##############################
    Header section styling
    ##############################
    */
    header{
        /* 
            background-image: url('../images/header-background.png');
            background-repeat: no-repeat;
            background-size: 100% 100%; */
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }
        .nav-container{
            grid-column: 1/ -1;
            background-color: #3E721D;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            padding: 0px 20px 0px 20px;
        }
        
        .logo{
            color: white;
            text-decoration:none;
            font-weight: 700;
            font-size: 2.6rem;
            grid-column: 1/ 3;
            font-family: 'Oleo Script', cursive;
            background: -webkit-linear-gradient(#C6E5B3, #662113);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
        }
        nav{
            display: flex;
            justify-content:space-between;
            grid-column: 3/ -1;
        }
        nav li{
            list-style: none;
            padding:1.3rem 0rem 1.3rem 0rem;
        }
        li a:hover{
            color: #662113;  
        }
        nav li a{
            font-size: 1rem;
            color: #ffffff;
            text-decoration: none;
            font-weight:700;
        }
    /* 
    ##############################
    About me section styling
    ##############################
    */
    .about-me{
        grid-template-columns: auto;
        padding: 0px 20px 0px 20px;
    }
    .about-me h1{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }
    .about-me p{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }
    /* 
    ##############################
    Project section styling
    ##############################
    */
    .projects{
        padding: 0px 20px 0px 20px;
    }

    .projects h1{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }

    .projects div{
        grid-column: 1/ -1;
        padding: 0px 10px 10px 10px;
    }

    .project-carousel{
        height: auto;
    }

    .project-slider section div{
        width: 70%;
        margin: 0 auto;
    }

    /* 
    ##############################
    Testimonial section styling
    ##############################
    */

    .testimonial{
        padding: 0px 20px 0px 20px;
    }
    .testimonial h1{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }
    .testimonial div{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }
   
    #testimony-content{
        width: 70%;
    }

    .slider{
        height: auto;
    }
    /* 
    ##############################
    Skills section styling
    ##############################
    */
    
    .skills{
        padding: 0px 20px 0px 20px;
    }

    .skills h1{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }

    .skills div{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }
    
    .skills div img{
        border-radius: 0%;
    }

    /* 
    ##############################
    Certificate section styling
    ##############################
    */

    .certificates{
        padding: 0px 20px 0px 20px;
    }
    .certificates h1{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }
    .certificates div{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .certificates div img{
        width: 100%;
        height: 350px;
    }

    /* 
    ##############################
    Contact me section styling
    ##############################
    */

    .contact-me{
        padding: 80px 20px 0px 20px;
        overflow: hidden;
    }
    .contact-me h1{
        grid-column: 1/ -1;
        padding: 0px 10px 0px 10px;
    }
    
    .contact-me .form{
        grid-column: 1/ 8;
        padding: 0px 10px 60px 10px;
    }

    .contact-me .form input{
        width: 100%;
        height: 40px;
    }

    .contact-me .form textarea{
        height: 100px;
        width: 100%;
    }

    .send-button{
        float: right;
        margin-right: 0;
    }

    .contact-me .address{
        grid-column: 9/ -1;
        border: none;
    }

    .contact-me .address ul{
        justify-content: center;
        align-items: center;
    }

    .contact-me .address ul li{
       float: right;
       margin-left: 10px;
    }
    /* 
    ##############################
    Subscribe section styling
    ##############################
    */

    .subscribe{
        padding: 0px 20px 40px 20px;
    }

    .subscribe h1{
        grid-column: 1/ -1;
    }

    .subscribe form{
        grid-column: 1/ -1;
        justify-content: space-evenly;
    }

    .subscribe form input{
        height: 40px;
        width: 50%;
        border-radius: 0;
    }

    .subscribe form button{
        height: 40px;
        width: 30%;
        border-radius: 0;
    }

}

/* 
##############################
     IPAD TARGET 
##############################
*/
@media screen and (max-width: 768px){
    
    header{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .nav-container{
        grid-column: 1/ -1;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-bottom: 20px;
    }
    .logo{
        grid-column: 1/ 3;   
    }
    .toogle{
        display: block !important;
        font-size: 4rem;
        color: #ffffff;
        grid-column: -2/ -1;
        cursor: pointer;
    }
    .hide{
        display: none;
    }
    nav{
        display: block;
        grid-column: 1/ -1;
        background-color: #662113;
        text-align: center;
    }
    
    nav li{
        width: 100%;

    }
    nav li a{
        font-size: 1rem;
        color: #ffffff;
        text-decoration: none;
        font-weight:700;
    }
    .profile{
        grid-column: 1/ -1;
        padding: 3rem 0rem 0rem 0rem;
        text-align: center;
    }
    .profile img{
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
    .hook{
        text-align: center;
        grid-column: 1/ -1;
        color: #662113;
        padding: 3rem 0rem 3rem 0rem;
        font-weight: 400;
        line-height: 1.6;
    }
    .certificates div img{
        width: 100%;
        height: auto;
    }
    .contact-me .address ul{
        padding: 0;
    }
    .contact-me .address ul li{
        float: right;
        width: 30px;
        height: 30px;
        margin-left: 25px;
     }

} 


/* 
##############################
     Iphone 5,6,7,8 plus TARGET 
##############################
*/
@media screen and (max-width: 414px){
    /* 
    ##############################
    Skills section styling
    ##############################
    */
    .logo{
        grid-column: 1/ 10;   
    }
    .toogle{
        display: block !important;
        font-size: 4rem;
        color: #ffffff;
        grid-column: -2/ -1;
        cursor: pointer;
    }
    .profile{
        padding: 3rem 0rem 0rem 0rem;
    }

    .projects h1{
        grid-column: 1/ -1;

    }
    .projects div{
        grid-column: 1/ -1;
        padding: 0;
    }
    .projects div .project-container{
        width: 100%;
    }
    .project-carousel{
        height: auto;
        position: relative;
        overflow: hidden;

    }
    .project-slider{
        height: auto;
        display: flex;
        width:400%;
        transition: all 1s;
    }
    .project-slider section{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project-slider section div{
        width: 80%;
        font-size: 12px;
    }
    
    .project-slider section div span{
        color: #3E721D;
    }
    .project-slider section div u h2, .project-slider section div p{
        font-size: 12px;
    }
    .project-controls .project-arrow{
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .project-controls .project-arrow i{
        font-size: 30px;
        color: black;
    }
    .project-arrow.project-left{
        left: 10px;
    }
    .project-arrow.project-right{
        right: 10px;
    }


    .skills{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding: 30px 0px 30px 0px;
    }
    .skills h1{
        grid-column: 1/ -1;
    }
    .skills div{
        width: 100%;
        grid-column: 1/ -1;
        display: block;
    }
    .skills div img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    
    }
    /* 
    ##############################
    Certificate section styling
    ##############################
    */

    .certificates{
        /* padding: 0px 20px 0px 20px; */
    }
    .certificates h1{
        grid-column: 1/ -1;

    }
    .certificates div{
        grid-column: 1/ -1;
        /* padding: 0px 10px 0px 10px; */
        display: grid;
        grid-template-columns: 1fr;
    }
    .certificates div img{
        width: 100%;
        height: auto;
    }

} 