@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/* 
######################################################
####   Phone responsive  #############################
######################################################
*/

@media only screen and (Min-width: 480px) 
  { 

    /* header{
        width: 100%;
    }
    .nav-container{
        background-color: #3E721D;
    }
    nav{
        float: right;
        display: block;
        width: 100%;
        text-align: center;
    } */
}













/* 
######################################################
####   Tablet responsive  ############################
######################################################
*/